In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv(r"A:\OneDrive\Desktop\crop recomendation\crop_recommendation_system-main\Crop_recommendation.csv")

print('A sample set of rows for dataframe is:\n')
display(df.sample(6))

A sample set of rows for dataframe is:

       N    P    K  temperature   humidity        ph    rainfall      label
722   52   71   16    27.742748  68.539971  7.075886   71.786153  blackgram
528   22   43   24    25.425170  53.220827  4.523636   46.193746  mothbeans
2163  87   38   29    25.204068  57.883705  6.652643  156.145725     coffee
2038  62   49   37    24.217446  82.852840  7.479248  166.136589       jute
1133  12   34   28    33.361401  45.022364  6.135269   98.815965      mango
1567  27  120  200    21.452787  90.745319  6.110219  116.703658      apple

In [2]:
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [5]:
df.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [6]:
X=df.drop(['label'],axis=1)
y=df['label']
#Splitting into training and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,
                                shuffle = True, random_state = 42,stratify=y)

In [7]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_train=pd.DataFrame(X_train,columns=X.columns)
X_test=scaler.transform(X_test)
X_train.head()

          N         P         K  temperature  humidity        ph  rainfall
0 -1.335936  0.417499 -0.535091     0.378274 -0.489416  0.105457 -1.006138
1  1.797538  0.874355 -0.061709    -0.056432  0.352421 -1.102431  0.037615
2 -1.308923  0.234757 -0.554816    -0.672000 -2.173304 -0.662710 -0.486121
3 -0.282441  0.752527 -0.554816    -1.248506 -2.271540 -1.031842 -0.422218
4 -1.173860 -1.013983 -0.712610    -1.765899  1.047107  0.007107  0.121738

In [9]:
y

0         rice
1         rice
2         rice
3         rice
4         rice
         ...
2195    coffee
2196    coffee
2197    coffee
2198    coffee
2199    coffee
Name: label, Length: 2200, dtype: object

In [10]:
X

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [11]:
from sklearn.ensemble import RandomForestClassifier

In [12]:
models = [LogisticRegression(), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [13]:
for model in models:
  classifier=model
  classifier.fit(X_train,y_train)
  prediction = classifier.predict(X_test)
  accuracy=accuracy_score(prediction,y_test)
  print("Accuracy score of ",model, "is ",  accuracy)

A:\py\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(
A:\py\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(
A:\py\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

Accuracy score of  LogisticRegression() is  0.9727272727272728
Accuracy score of  SVC(kernel='linear') is  0.9893939393939394
Accuracy score of  KNeighborsClassifier() is  0.9787878787878788
Accuracy score of  RandomForestClassifier() is  0.9954545454545455

A:\py\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [14]:
random_forest=RandomForestClassifier(random_state=0)

In [15]:
model_hyperparamter={
    'n_estimators': [10, 50, 100, 200]
}

In [16]:
from sklearn.model_selection import GridSearchCV
grid_search=GridSearchCV(random_forest,model_hyperparamter,cv=5)
grid_search.fit(X,y)

GridSearchCV(cv=5, estimator=RandomForestClassifier(random_state=0),
             param_grid={'n_estimators': [10, 50, 100, 200]})

In [17]:
best_params = grid_search.best_params_
print(best_params)

{'n_estimators': 100}

In [18]:
m=RandomForestClassifier(n_estimators=100)

In [19]:
m.fit(X_train,y_train)
model_prediction=m.predict(X_test)
accuracy=accuracy_score(prediction,y_test)
print(accuracy)

0.9954545454545455

A:\py\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [20]:
input_data=(90,42,43,20.87974371,82.00274423,6.502985292000001,202.9355362)
input_data_array=np.asarray(input_data)

In [21]:
# reshape the array
reshaped_data=input_data_array.reshape(1,-1)

Standarized the data

In [22]:
reshaped_data_transformed=scaler.transform(reshaped_data)

A:\py\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [23]:
print(reshaped_data_transformed)

[[ 1.06819466 -0.34392742 -0.10115733 -0.91790179  0.47413313  0.04282347
   1.812113  ]]

In [24]:
prediction_input_data=m.predict(reshaped_data_transformed)
print(prediction_input_data)

['rice']

A:\py\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [26]:
!pip install joblib

Requirement already satisfied: joblib in a:\py\lib\site-packages (1.2.0)

WARNING: You are using pip version 21.2.3; however, version 24.2 is available.
You should consider upgrading via the 'A:\py\python.exe -m pip install --upgrade pip' command.

In [27]:
import joblib  
model_filename = 'Crop Recommendation.pkl'  
joblib.dump(m, model_filename)

['Crop Recommendation.pkl']